# Virtual Environment
venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc

# Database
*.db

# Reports
reports/
static/reports/

# Uploads
uploads/

# IDE
.vscode/
.idea/
instance/
*.db
memory/