# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# VS Code Settings
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build Files
build/
dist/
*.egg-info/

# Logs
*.log

# Operating System Files
Thumbs.db
.DS_Store

# Python
.python-version